# IDE
.idea
.vscode
*.swp
*.swo
*~

# Node modules
node_modules/

# Build output
dist/
build/

# Environment files
.env
.env.*
!.env.example
!.env.*.example
!.env.development

# Logs
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# Test coverage
coverage/
**/coverage
*.lcov
.nyc_output

# Debug
*.tsbuildinfo
.eslintcache

# Optional npm cache
.npm

# Optional REPL history
.node_repl_history

#products
./apps/seller-service/uploads/products
