# Server
PORT=3002
NODE_ENV=

# Database
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

# RabbitMQ
RABBITMQ_USER=
RABBITMQ_PASSWORD=
RABBITMQ_PORT=
RABBITMQ_HOST=
RABBITMQ_EXCHANGE=order.exchange
RABBITMQ_QUEUE=seller.queue
RABBITMQ_CONSUMER_ROUTING_KEY=order.created.*
RABBITMQ_PRODUCER_ROUTING_KEY=order.processed

