NODE_ENV=development

HOST=0.0.0.0
PORT=3000

DB_NAME=auth
DB_USER=auth
DB_PASSWORD=auth
DB_HOST=auth_db
DB_PORT=5432

CORS_ORIGIN=http://localhost:3000
CORS_HEADERS=*
CORS_METHODS=GET,POST,PUT,PATCH,DELETE,OPTIONS

JWT_SECRET=1234567890
JWT_TTL=24h
JWT_AUD=dasi
