HTTP_PORT=3000
HTTP_HOST=localhost

NODE_ENV=development

AUTH_SERVICE_URL=http://localhost:3001
ORDER_SERVICE_URL=http://localhost:3002
SELLER_SERVICE_URL=http://localhost:3003

CORS_ORIGIN=http://localhost:3000
CORS_HEADERS=*
CORS_METHODS=GET,POST,PUT,PATCH,DELETE,OPTIONS
